# dependencies
node_modules/
**/node_modules/

# Output directories
dist/
**/dist/
.output/
**/.output/
.nitro/
**/.nitro/
.wrangler/
**/.wrangler/
.vercel/
**/.vercel/
.netlify/
**/.netlify/
.vinxi/
**/.vinxi/
app.config.timestamp_*.js

# Turborepo cache
.turbo/
**/.turbo/

# Environment
.env
.env*.local

# Logs
server.log
*.log

# IDEs and editors
.idea/
**/.idea/
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
